.warp {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.resize {
    background: linear-gradient(45deg, rgb(245, 93, 131), rgb(54, 54, 171));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}